<%= form_for @conn, admin_path(@conn, :update_password), [method: :put, class: "pa4 black-80"], fn f -> %>
  <div class="measure">
    <legend class="f4 fw6 ph0 mh0">Edit Password</legend>
    <label for="password" class="f6 b db mb2">Password</label>
    <%= hidden_input f, :access_token, value: @access_token %>
    <%= password_input f, :password, class: "input-reset ba b--black-20 pa2 mb2 db w-100" %>
    <%= submit "Update Password", class: "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>
  </div>
<% end %>
