<%= form_for @conn, admin_path(@conn, :create), [class: "pa4 black-80"], fn f -> %>
  <div class="measure">
    <legend class="f4 fw6 ph0 mh0 mb4">Invite Admin</legend>
    <label for="email" class="f6 b db mb2">Email</label>
    <%= email_input f, :email, class: "input-reset ba b--black-20 pa2 mb2 db w-100" %>
    <%= submit "Invite Admin", class: "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>
  </div>
<% end %>
